<!DOCTYPE HTML>
<html>
    <head>
        <title>About</title>
    </head>
    <body>
        <p>This is a school project made to help people decide on what game to start next. This is a website made for gamers by gamers if your struglling to find the next game for you or just want to find a new genre to start playing we can help you.</p>
    </body>
</html>
