<!DOCTYPE html>
<html>
<Head> 

</Head>
<Body>
   <p id = "ParaOne">This is going to be some epic words i swear to you men !!</p>
    <div class = "Category">
        <div id = "Platform">
            <ul>
                <li>Genre</li>
                <li>Playteam</li>
                <li>Year</li>
            </ul>
        </div>
    </div>
</Body>
</html>